.mainCont{
    margin: auto;
    padding: 20px;
}

.mssg{
    background-color: #000000a4;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    color: white;
    margin: 10px auto;
}

.Cont{
    width: 90%;
    margin: auto;
    padding: 10px 0;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 4px #5270a3;
}

.Cont img{
    width: 100%;
}

.Cont p{
    margin: 10px 20px;
    font-size: large;
}