body {
    margin: 0;
    font-family: Lucida Sans, Helvetica, Arial, sans-serif;
    background: linear-gradient(12deg, #124d5a, #ebf2f3);
    background-attachment: fixed;
    letter-spacing: 1px;
}

.cont{
    width: 100%;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

.student{
    width: fit-content;
    max-width: 400px;
    background-color: lightcyan;
    padding: 12px;
    margin: 15px;
}

